<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Kello</string>
	<key>CFBundleExecutable</key>
	<string>Kello</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.gabrielepartiti.kello</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>it</string>
	</array>
	<key>CFBundleName</key>
	<string>Kello</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.0</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Kello shows your calendar events in the menu bar.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Gabriele Partiti</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Kello shows your reminders in the menu bar.</string>
	<key>SUFeedURL</key>
	<string>https://github.com/gabry-ts/kello/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>8/E2Im4lX/aBmoIJKT8yWp9sdlpR0TRx8oci+o9cZhM=</string>
</dict>
</plist>
